h1.title {
    font-family: 'Poppins', sans-serif;
    padding-left: 0.5%;
    font-size: 2em;
    vertical-align: bottom;

}

p {
    font-family: Monserat, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: left;
    text-align: left;
    padding-left: 6%;
}

img.title {
    padding-top: 1%;
    padding-left: 1%;
    vertical-align: bottom;
    height: 2em;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

.wrap {
    position: relative;
}

.wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-image: url("../img/backgroundRAL.jpg");
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
}

.content {
    position: relative;
}

h1.content {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: white;
}