<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wohnungvermietung</title>
    <link type="text/css"
          rel="stylesheet"
          href="css/stylesheet.css"/>
</head>
<body>
<div>
    <h1 class="title">Wohnungsvermietung</h1>
</div>
<div id="nav">
    <a href="/">Start</a>
    <a href="/house">Das Haus</a>
    <a href="/room">Wohnungen</a>
    <a href="/rent">Vermietung</a>
    <a href="/contact">Kontakt</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
</div>
<p>Rent</p>
</body>
</html>